<IfModule mod_rewrite.c>
   Options +FollowSymlinks
   RewriteEngine On
   RewriteCond %{QUERY_STRING} ^(.*)
   RewriteRule ^([a-z]{2,10})/$ /index.php?controller=$1&%1
   RewriteCond %{QUERY_STRING} ^(.*)
   RewriteRule ^([a-z]{2,10})/([a-z]{1,20})/$ /index.php?controller=$1&action=$2&%1 
</IfModule>
